@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




nav{
    border-radius: 20px;
    margin-top: 10px ;
    margin-left: 15px;
    margin-right: 15px;
 background: rgba(66, 66, 66, 0.116);
    font-weight: 500;
    text-transform: uppercase;
    margin: 50px;

   
}

.hero{
  width: 100%;
    height: 100vh;


}
.carousel
{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    padding: 20px 10px;
  filter: brightness(50%);
  
   
}
.hero .carousel-inner img {
  width: 100%;
 min-height: 100vh;
  object-fit: cover;

   transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
  border-radius: 10px;
  filter: brightness(70%);
}
.nadpis {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; 


}

.nadpis h1 {
  color: #f0f0f0;}

.obory{
    width: 100%;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.info-hero button{
margin-right: 10px;
}
