@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




nav{
    border-radius: 20px;
    margin-top: 10px ;
    margin-left: 15px;
    margin-right: 15px;
    background: rgba(255, 255, 255, 0.151);
    font-weight: 500;
    text-transform: uppercase;
    margin: 50px;

   
}

.hero{
  width: 100%;
    height: 80vh;
    overflow: hidden;
display: flex;
justify-content: center;
align-items: center;

  position: relative;
}
.carousel
{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    padding: 20px 10px;
  filter: brightness(50%);
   
}
.hero .carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
  border-radius: 10px;
  filter: brightness(70%);
}
.nadpis {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; 
  text-align: center;
  color: white;
}

.card-body img{
    width: 100%;
   height: 400px;
    object-fit: cover;
    border-radius: 10px;
        transition: all 0.5s ease-in-out;
}
.card-body img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    filter: brightness(50%);
}

