@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body::-webkit-scrollbar {
  display: none;    
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: #000;
}
nav{
    border-radius: 20px;
    margin-top: 10px ;
    margin-left: 15px;
    margin-right: 15px;
background: rgba(78, 168, 206, 0.64);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.8px);
-webkit-backdrop-filter: blur(10.8px);
    font-weight: 500;
    text-transform: uppercase;
    margin: 50px;

   
}

.hero{
 
  height: 60vh;
  position: relative;
  overflow: hidden;
}

@media (min-width: 576px) {
  .hero {
    height: 80vh;
  }
}

@media (min-width: 992px) {
  .hero {
    height: 100vh;
  }
}



.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hero .carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
  filter: brightness(50%);
  background: linear-gradient(
    90deg,
    rgba(0,0,0,0.75) 0%,
    rgba(0,0,0,0.75) 100%
  );
}

.nadpis {
  position: relative;
  z-index: 10;
  padding: 20px;
  min-height: 60vh;

}






.obory{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
   background: #4EA8CE;
background: #4EA8CE;
background: linear-gradient(360deg, rgba(78, 168, 206, 0.486) 0%, rgba(255, 255, 255, 0.33) 100%);
}
.card{
   width: 400px;
    height: 400px;
    background: rgba(66, 66, 66, 0.116);
    margin: 20px;
    border-radius: 10px;
   
    position: relative;
   
}
.card img{
   width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(50%);
}

.cardinfo{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  text-align: center;
    color: #fff;
    text-align: center;
    z-index: 10;
  
   
}
.cardinfo h3{
    font-size: 24px;
    margin-bottom: 10px;
      margin-top: -200px;
}
.card-infohover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
     transition: .3s ease-in-out;
}
.card:hover .card-infohover {
    opacity: 1;

}
.card-infohover:hover h3{
    transform: scale(1.2);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.bg-color1,
.bg-color2,
.bg-color3 {
    display: flex;
    justify-content: center;  
    gap: 5px;
    border-radius: 5px;
    padding: 5px;
    padding: 5px 10px;
    width: 200px;               
}

.bg-color1 {
    background-color: #bb2d0d;
    width: 200px;
}
.bg-color2 {
    background-color: #4ea8ce;
}
.bg-color3 {
    background-color: #3e9118;
    padding: 5px 10px;         

}

.obory-vice .item {
   
    margin: 0 10px;
}
.separation-line {
    width: 2px;
    height: 50px;
    background-color: #000;
    margin: 0 20px;
}
.separation-line {
    width: 2px;
    height: 50px;
    background-color: #000;
    margin: 0 20px;
}
.separation-line2 {
    width: 50%;
    height: 1px;
    bottom: 50px;
    position: relative;
    margin: 0 20px;
    background-color: #000;
    margin: 20px 0;
}


footer{
width: 100%;
min-height: 95vh;
 background-color: #4ea8ce;

}
.footer-backg{
    width: 100%;
   min-height: 40vh;
background-position: center;
background-size: cover;
background-clip: border-box;
background-attachment: fixed;
background-image: url(https://skolabaltaci.cz/wp-content/uploads/2023/09/23-scaled.jpg);

}








.footer-info-about{
    height: 40vh;
    display: flex;
   justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}
.footer-info-about-text{
    width: 50%;
    padding: 20px;
    gap: 20px;
}
.footer-info-about-text {
    font-size: 20px;
    color: #fff;
 
    margin-bottom: 10px;
}
.footer-info-about-form-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}




.news{
   background: #4EA8CE;
background: linear-gradient(180deg, rgba(78, 168, 206, 0.486) 0%, rgba(255, 255, 255, 0.53) 100%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 20px 10%;
    flex-direction: column;
}
.news img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(60%) blur(2px);
  transition: .3s ease-in-out;
}
.news img:hover{
  filter: brightness(80%) blur(0);
  transition: .3s ease-in-out;
}




.new::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  pointer-events: none;
  border-radius: 10px;
  z-index: 1;
}


.new{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

}


.new img{
  display: block;
 
}


.new h2 {
  position: absolute;
  text-transform: uppercase;
  bottom: 60px;
  left: 10px;
  color: #fff;
  padding: 20px 10px;
  z-index: 2;
  text-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.new p {
  position: absolute;
  text-transform: uppercase;
  bottom: 10px;
  left: 10px;
  padding: 20px 10px;
  color: #bebebeaf;
  z-index: 2;
  text-shadow: 0 0 5px rgba(0,0,0,0.7);
}
.new p:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,0.9);
  transition: .3s ease-in-out;
  cursor: pointer;
}



.about{
    width: 100%;
    min-height: 100vh;
  background-image: url(img/kola-scaled.png);
  background-size: cover;
  background-position: center;
  background-clip: border-box;
padding: 20px 10%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
}
.about-image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;}










#horizontal .content{
min-height: 100vh;
width: 100vw;
flex-shrink: 0;
padding: 200px 10%;
display: flex;
justify-content: start;


}
#horizontal{
    display: flex;
    overflow-x: hidden;
    
 
    
}
.content:before{
     content: '';
  position: absolute;
  inset: 0;
  background: inherit;            
  filter: brightness(40%);           
  z-index: -1;  
}
#horizontal .content:nth-child(1){
    background-image: url(img/IMG_5111.JPG);
    background-size: cover;
    background-position: center;
    
    
}


#horizontal .content:nth-child(2){
    background-image: url(https://skolabaltaci.cz/wp-content/uploads/2023/09/23-scaled.jpg);
        background-size: cover;
    background-position: center;

      
}
#horizontal .content:nth-child(3){
   background-image: url(https://skolabaltaci.cz/wp-content/uploads/2024/05/01-6.jpg);
       background-size: cover;
    background-position: center;
       
}





.nadpis-obory-podrobneji h1{

    filter: brightness(100%);
    font-weight: bold;
    text-transform: uppercase;
  
   
}